/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

.imageContainer {
  height: 400px;
  width: 400px;
  border: 8px solid #B4A397;
  border-radius: 10px;
  margin: 0 auto 0 auto;
}

.App {
  text-align: center;
  font-family: "HK Grotesk";
  margin: 16px 8px;
  width: 700px;
  margin: 0 auto 0 auto;
}

.title {
  color: #776e65;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
}

h2 {
  color: #776e65;
}

.info {
  text-align: left;
  margin-bottom: 60px;
  margin-top: 60px;
}

html {
  background-color: #FAF7ED;
  width: 100%;
  height: 100%;
}

li {
  margin: 0 0 10px 0;
}

a {color: #776e65; font-weight: bold;}         /* Unvisited link  */
a:visited {color: #776e65;} /* Visited link    */
a:hover {color: #776e65;}   /* Mouse over link */
a:active {color: #776e65;}  /* Selected link   */

.displayedEmotion {
  color: #f3b27a;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonContainer {
  margin-top: 20px;
  margin-bottom: 50px;
  /* border: 1px solid pink; */
  width: 400px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  justify-content: space-between;
}

.scoresContainer {
  /* border: 1px solid red; */
  width: 400px;
  margin-left: 148px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
/* 
.info {
  margin-left: 50;
  margin-right: 50;
} */

img {
  height: 400px;
  width: 400px;
  box-sizing: border-box;
}

.emotionP1 {
  margin-bottom: 10px;
}

/* .startButton {
  background: #abebc6;
  font-family: HK Grotesk;
  box-shadow: 0 6px #666;
  font-size: 18px;
  border-radius: 4px;
}

.startButton:hover {
  background-color: #56d68c;
}

.startButton:active, .startButton.lit {
  background: #abebc6;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
} */

.submitButton {
  background: #abebc6;
  font-family: HK Grotesk;
  box-shadow: 0 6px #666;
  font-size: 18px;
  border-radius: 4px;
}

.submitButton:hover {
  background-color: #56d68c;
}

.submitButton:active, .startButton.lit {
  background: #abebc6;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.stopResetButton {
  margin-top: 35px;
  background: #F1948A;
  font-family: HK Grotesk;
  box-shadow: 0 6px #666;
  font-size: 18px;
  border-radius: 4px;
}

.stopResetButton:hover {
  background-color: #cc0000;
}

.stopResetButton:active, .stopResetButton.lit {
  background: #cc0000;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}


.useCamBtn {
  font-family: "HK Grotesk";
  font-size: 15px;
  background: #E6E6EA;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6px 6px;
  transition: 500ms; 
}

.useCamBtn:hover {
  background: #cccccc;
}

.captureButton {
  font-family: "HK Grotesk";
  font-size: 15px;
  /* background: #E6E6EA; */
  background: #f3b27a;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6px 6px;
  transition: 500ms; 
  margin-top: 24px;
}

.captureButton:hover {
  background: #ed8934
}

.retakeButton {
  font-family: "HK Grotesk";
  font-size: 15px;
  background: #f3b27a;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6px 6px;
  transition: 500ms; 
  margin-top: 24px;
}

.retakeButton {
  background: #ed8934
}

.inputfile {
  /* visibility: hidden etc. wont work */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.custom-up-label {
  font-family: "HK Grotesk";
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 6px;
  border: 1px solid #000000;
  border-radius: 4px;
  background: #E6E6EA;
}

.custom-up-label:hover {
  background: #cccccc
}

.tempFooter {
  margin-top: 20px;
}

.tempFooter img {
  width: 30px;
  height: 30px;
}