/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

.imageContainer {
  height: 400px;
  width: 400px;
  border: 8px solid #B4A397;
  border-radius: 10px;
  margin: 0 auto 0 auto;
}

.App {
  text-align: center;
  font-family: "HK Grotesk";
  margin: 16px 8px;
  width: 700px;
  margin: 0 auto 0 auto;
}

.title {
  color: #776e65;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
}

h2 {
  color: #776e65;
}

.info {
  text-align: left;
}

html {
  background-color: #FAF7ED;
  width: 100%;
  height: 100%;
}

li {
  margin: 0 0 10px 0;
}

a {color: #776e65; font-weight: bold;}         /* Unvisited link  */
a:visited {color: #776e65;} /* Visited link    */
a:hover {color: #776e65;}   /* Mouse over link */
a:active {color: #776e65;}  /* Selected link   */

.displayedEmotion {
  color: #f3b27a;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonContainer {
  margin-top: 40px;
  margin-bottom: 15px;
}

.submitButton {
  margin-top: 40px;
}

.stopGameButton {
  margin-top: 40px;
  margin-bottom: 40px;
}

.scoresContainer {
  /* border: 1px solid red; */
  width: 75px;
  margin-left: 148px;
  margin-bottom: 10px;
}

.info {
  margin-left: 50;
  margin-right: 50;
}

img {
  height: 400px;
  width: 400px;
  box-sizing: border-box;
}

.emotionP1 {
  margin-bottom: 10px;
}

